<%- include("../partials/header") %>
<section class="thread-form-page">
  <div class="thread-form-title">Вход</div>
  <form method="POST" action="/login" class="thread-form-card">
    <div class="form-line">
      <label>Email</label>
      <input type="email" name="email" required />
    </div>
    <div class="form-line">
      <label>Пароль</label>
      <input type="password" name="password" required />
    </div>
    <button type="submit" class="toolbar-btn toolbar-btn-primary">Войти</button>
  </form>
</section>
<%- include("../partials/footer") %>
