<%- include("partials/header") %>

<section class="thread-card thread-card-wide">
  <h1>Реквизиты автора</h1>
  <div class="result-box">
    <p><strong>Автор:</strong> Рустем Расул Гафуржанулы</p>
    <p><strong>Почта:</strong> arabrgdauni@gmail.com</p>
  </div>
</section>

<%- include("partials/footer") %>
