<%- include("partials/header") %>

<section class="card">
  <h1>Реквизиты автора</h1>
  <p><strong>Автор:</strong> Рустем Расул Гафуржанулы</p>
  <p><strong>Почта:</strong> arabrgdauni@gmail.com</p>
</section>

<%- include("partials/footer") %>
